body {
    background-color: lightcyan;
}

h1 {
    text-align: center;
}

table {
    margin: 30px auto;
    border: 1px solid lightgray;
    border-collapse: collapse;
    /* height: 350px;
    width: 350px; */
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid;
}

.cell:hover {
    color: red;
}

td {
    background-color: lightgray;
}

.board-container {
    border-collapse: collapse;
}

.lives {
    font-size: 20px;
    text-align: center;
}

.smiley-container {
    margin: 10px;
    text-align: center;
}

.button-container {
    text-align: center;
}

.hint-btn.active {
    background-color: bisque;
}

.on {
    background-color: bisque;
}

.result {
    text-align: center;
}

.bonus-container {
    margin: 10px;
    text-align: center;
}

.undo-btn {
    background-color: orange;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

body.dark {
    background-color: black;
    color: white;
}